packages: 
  yum:
    dos2unix: []
    mc: []
container_commands:
    01remove_win_caret:
        command: "dos2unix .ebextensions/setup_swap.sh"
    02setup_swap:
        command: "bash .ebextensions/setup_swap.sh"
    03create_rabbitmq_dirs:
        command: "sudo mkdir -p /var/log/rabbitmq && sudo mkdir -p /var/lib/rabbitmq"
    99remove_win_caret:
        command: "dos2unix .platform/hooks/postdeploy/99_create_react_app_image.sh"